a, a > code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}

.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 70%;
}
.remark-code-line-highlighted { 
  background-color: #ffff88; 
}


/* Two-column layout --------------------------------*/
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}
img, video, iframe {
  max-width: 100%;
}
blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}
.remark-slide table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

.remark-slide table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) { background: #eee }

@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}


.remark-slide-content h2 {
  font-size: 35px;
}

.remark-slide-content h3 {
  font-size: 30px;
}


h1, h2, h3 {
  font-weight: normal;
  color: #000000;
}

a, a > code {
  color: #4b42f4;
}
.remark-code-line-highlighted { background-color: rgba(136, 57, 138, 0.3); }

.inverse, .inverse h1, .inverse h2, .inverse h3, .inverse a, inverse a > code {
  color: #fff;
}

.remark-slide-number {
  position: inherit;
}

.remark-slide-number .progress-bar-container {
  position: absolute;
  bottom: 0;
  height: 10px;
  display: block;
  left: 0;
  right: 0;
}

.remark-slide-number .progress-bar {
  height: 100%;
  background-color: #46b6fc;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.caption {
  font-size: 90%;
}

.inverse {
  background-color: rgb(231, 236, 255);
  color: #d6d6d6;
  /*text-shadow: 0 0 20px #333;*/
}

.title-slide {
  background-position: 95% 90%;
  background-size: 300px;
  background-color: #fff;
  background-image: url(https://www.uab.cat/web/coneix-la-uab-cei/itineraris/identitat-i-imatge-corporativa/uab.cat/servlet/BlobServer?blobkey=id&blobnocache=true&blobwhere=1345725428582&blobheader=application&blobcol=urlimg&blobtable=Imatge);
  color: #000000;
}

.inverse h1, .inverse h2, .inverse h3 {
  color: #000000;
}

li, p {
  line-height: 1.5;
}

.remark-slide-content {
  font-size: 22px;
}